.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fundo{
    border-radius: 10px;
    border: 2px solid #dadada;
    background: transparent;
    backdrop-filter: blur(8px);
    width: 330px;
    height: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.campos button{
    width: 100%;
    margin: 10px 0;
}
.logo{
    margin: 10px 0;
    text-align: center;
}
.logo img{
    width: 150px;
    height: auto;
}

/* ------------------------------------------- */

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  
  .alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: .5rem;
    margin-bottom: .5rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
  }