<div class="sidenav" id="sidenav">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#" routerLink="/exemplo">Exemplo</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
</div>

<div class="content">
  <div class="openbtn">
    <button type="button" class="btn btn-primary btn-sm" aria-controls="collapseExample" (click)="openNav()"><span
        class="icon-menu">&#9776;</span>Menu
    </button>
    <div class="row align-items-center">
      <div class="theme-toggle col-6" (click)="toggleTheme()">
        <i [class]="isDarkTheme() ? 'bi bi-moon-stars-fill' : 'bi bi-sun-fill'"></i>
      </div>
      <div class="col-6">
        <button class="btn btn-sm btn-outline-danger" (click)="sairSistema()">Logout</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>